/* #######################################################################

Kanban Live
Version: 1.0.0
Last Updated: 16th May 2013

########################################################################

0.  CSS Reset, Font setup and Plugins
0.1.Plugins (General) 
1.  Transitions & Box sizing
2.  All Typography
3. 	Mobile Layout
4. 	Pricing Table breakpoints
5.  Tablet Layout
6. 	Large Tablet/Tiny Desktop
7.  Small Desktop Layout
8. 	Enhanced Desktop Layout
9. 	Retina / Hi DPI Graphics
10.	Print CSS

/* #######################################################################

0.  CSS Reset, Font setup and Plugins

####################################################################### */

@import url(//fonts.googleapis.com/css?family=Raleway:300,500|Cambo);

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
ins{background-color:#ff9;color:#333;text-decoration:none;}
mark{background-color:#ff9;color:#333;font-style:italic;font-weight:700;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;}
select,input,textarea,button{font:99% sans-serif;}
pre,code,kbd,samp{font-family:monospace, sans-serif;}
html{overflow-y:scroll;}
a:hover,a:active{outline:none;}
ul,ol{margin-left:2em;}
ol{list-style-type:decimal;}
nav ul,nav li{list-style:none;list-style-image:none;margin:0;}
small{font-size:85%;}
strong,th{font-weight:700;}
td{vertical-align:top;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-.5em;}
sub{bottom:-.25em;}
pre{white-space:pre-wrap;word-wrap:break-word;padding:1em;}
textarea{overflow:auto;}
.ie6 legend,.ie7 legend{margin-left:-7px;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}
button,input,select,textarea{margin:0;}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red;}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
input[type="radio"],.ie6 input{vertical-align:text-bottom;}
em, i { font-style: oblique; }
img { max-width: 100%; height: auto; }

html, body {
-webkit-text-size-adjust: none;
-webkit-font-smoothing: aliased;
}
input[type=text],
input[type=submit],
input[type=password],
input[type=url],
input[type=email],
textarea,
button {
-webkit-appearance: none;
border-radius: 0;
outline: none;
}

/* #######################################################################

	0.1.  Plugins (General) 

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
display: none;
}
.mean-container a {
-o-transition: none;
-webkit-transition: none;
-moz-transition: none;
transition: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar { 
float: left;
width: 100%;
position: absolute;
top: 47px;
padding: 4px 0;
min-height: 42px;
z-index: 2;
}
.mean-container a.meanmenu-reveal {
width: 80px;
height: 22px;
padding: 13px 13px 11px 13px;
position: absolute;
top: 0;
right: 0;
margin-right: 2.5%;
cursor: pointer;
color: #fff;
text-decoration: none;
font-size: 18px;
line-height: 22px;
display: block;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
.mean-container a.meanmenu-reveal span.mean-title {
float: left;
}
.mean-container a.meanmenu-reveal span.bar {
display: block;
background: #fff;
height: 3px;
margin-top: 3px;
float: right;
width: 22px;
clear: right;
}
.mean-container .mean-nav { 
float: left;
width: 100%;
background: #202327;
margin-top: 56px;
box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.mean-container .mean-nav ul {
padding: 0;
margin: 0;
width: 100%;
list-style-type: none;
}
.mean-container .mean-nav ul li {
position: relative;
float: left;
width: 100%;
}
.mean-container .mean-nav ul li a {
display: block;
float: left;
width: 90%;
padding: 1em 5%;
margin: 0;
text-align: center;
color: #fff;
border-bottom: 1px solid rgba(255,255,255,0.2);
text-decoration: none;
text-transform: uppercase;
}
.mean-container .mean-nav ul li li a {
width: 80%;
padding: 1em 10%;
border-bottom: 1px solid #f1f1f1;
border-bottom: 1px solid rgba(255,255,255,0.25);
opacity: 0.75; 
filter: alpha(opacity=75);
text-shadow: none !important;
visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
border-bottom: none;
margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
width: 70%;
padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
width: 60%;
padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
width: 50%;
padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover { 
background: #252525;
background: rgba(255,255,255,0.1); 
}
.mean-container .mean-nav ul li a.mean-expand {
width: 26px;
height: 26px;
border: none !important;
padding: 12px !important;
text-align: center;
position: absolute;
right: 0;
top: 0;
z-index: 2;
font-weight: 700;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
background: none;
}
.mean-container .mean-push { 
float: left;
width: 100%;
padding: 0;
margin: 0;
clear: both; 
}
.mean-nav .wrapper {
width: 100%;
padding: 0;
margin: 0;
}

/* #######################################################################

	1.  Transitions & Box sizing

####################################################################### */

input, .newsletter .testimonial, textarea {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
a, a:hover, button, button:hover, img.logo, img.logo:hover {
-o-transition: all 0.25s ease-in;
-webkit-transition: all 0.25s ease-in;
-moz-transition: all 0.25s ease-in;
transition: all 0.25s ease-in;
}

/* #######################################################################

	2.  All Typography

####################################################################### */

body, section.hero .lead.lead-sub {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 19px;
font-weight: 300;
color: #525961;
}
a {
color: #e64019;
font-weight: 600;
text-decoration: underline;
}
a:hover {
color: #000;
text-decoration: underline;
}
p {
margin: 0.25em 0 1em 0;
line-height: 1.5;
}
header nav a, header .priority-nav a {
font-weight: 300;
color: #b9c1c9;
text-transform: uppercase;
font-size: 14px;
text-decoration: none;
display: inline-block;
padding: 19px 0 4px 0;
margin: 0 8px;
}
header nav a:hover, header li.active a, header .priority-nav a {
color: #fff;
text-decoration: none;
}
header .priority-nav a {
margin: 0 14px;
padding-bottom: 4px;
border-bottom: 4px solid #f6af00;
}
header .priority-nav a:hover {
border-bottom: 4px solid #fde686;
}
section.hero .lead {
color: #fff;
}
h1, h2, h3, h4, h5, h6, header nav, input, textarea, .pricing-head, .pricing-price {
font-family: "Raleway", Helvetica, sans-serif;
font-weight: 300;
line-height: 1.2;
margin-bottom: 0.5em;
}
h1 {
font-size: 48px;
}
.lead.pricing h1 {
font-size: 34px;
}
h2 {
font-size: 36px;
color: #363f48;
}
h3 {
font-size: 24px;
color: #3bb331;
}
.standard h1, .standard h2, .standard h3, .standard h4, .standard h5, .standard h6 {
color: #363f48;
}
.standard h2, .standard h3, .standard h4, .standard h5, .standard h6 {
margin-top: 30px;
}
.standard h2 {
font-size: 24px;
}
.standard h3 {
font-size: 21px;
}
.standard h4{
font-size: 20px;
}
.standard h5 {
font-size: 19px;
}
.standard h6 {
font-size: 17px;
}
.standard blockquote {
margin: 2em 0;
border: 1px dotted rgba(0,0,0,0.22);
border-left: none;
border-right: none;
font-size: 110%;
text-align: center;
padding: 1.5em;
}
.center {
text-align: center !important;
}
.contact-right h3, .person h3 {
color: #363f48;
}
footer h6 {
font-size: 21px;
color: #b9c3ce;
}
.demo a {
color: #fff;
font-weight: 200;
border-bottom: 1px solid rgba(255,255,255,0.5);
text-decoration: none;
padding-bottom: 2px;
}
.demo a:hover {
border-bottom: 1px solid rgba(255,255,255,0.9);
text-decoration: none;
}
.color-70 {
color: #86898e;
}
.testimonial, .standard blockquote {
font-family: "Cambo", Georgia, "Times New Roman", serif;
text-align: center;
font-size: 19px;
color: #363f48;
}
.testimonial .source {
text-align: right;
font-size: 13px;
margin: 1em 20% 0 0;
}
.newsletter .testimonial .source {
margin-right: 0;
}
article.img-left, article.img-right {
text-align: center;
}
article.img-left h3, article.img-right h3 {
margin-top: 0.75em;
}
.underline {
border-bottom: 1px solid #e8e8e8;
}
footer {
float: left;
width: 100%;
background: #363f48;
padding: 0;
}
.footer-cta {
float: left;
width: 100%;
text-align: center;
border-bottom: 1px solid #5e656d;
padding: 53px 0;
background: #363f48;
}
footer .column ul, footer .column a, footer .credits a {
color: #fff;
text-decoration: none;
font-size: 14px;
font-weight: 400;
}
footer .column a:hover, footer .credits a:hover {
opacity: 0.7;
filter: alpha(opacity=70);
}
footer .credits {
color: #b9c3ce;
font-size: 14px;
line-height: 1.6;
}
p.sub-head {
font-size: 21px;
color: #82868a;
}
.testimonial {
font-size: 29px;
}
.testimonial.wide p.source {
font-size: 13px;
text-align: right;
margin-top: 1.5em !important;
}
.required, .attract {
color: #e64019;
}
small {
font-size: 13px;
}
.case-study h3 a {
font-weight: 300;
color: #3bb331;
text-decoration: none;
}
.case-study h3 a:hover {
color: #000;
}
.blog h3 a {
font-weight: 300;
color: #3bb331;
text-decoration: none;
}
.blog h3 a:hover {
color: #000;
}
.pricing-head {
font-size: 22px;
}
.pricing-price {
font-size: 44px;
font-weight: 500;
}
.pricing-price span {
font-weight: 200;
font-size: 14px;
color: #86898e;
}
.pricing-ribbon {
font-size: 14px;
color: #fff;
}
.questions {
font-size: 15px;
color: #8e9195;
}

/* #######################################################################

	3. Mobile Layout

####################################################################### */

img.logo, .priority-nav {
position: relative;
z-index: 3;
}
img.logo:hover {
opacity: 0.8; 
filter: alpha(opacity=80);
}
.priority-nav {
padding: 0;
margin: 0;
list-style-type: none;
position: absolute;
top: -10px;
right: 1.7%;
}
.priority-nav li {
display: inline-block;
}
.btn {
display: inline-block;
white-space: nowrap;
font-weight: 400;
color: #fff;
text-decoration: none;
border-radius: 3px;
font-size: 15px;
border: 1px solid #0f171f;
border-radius: 4px;
padding: 11px 35px 13px 35px;
background-clip: padding-box;
background-color: #353f47;
box-shadow: 0 1px 5px rgba(0,0,0,.26), inset 0 1px 1px rgba(255,255,255,.36);
background-image: linear-gradient(to top, rgba(0,0,0,.18) 0%, rgba(255,255,255,.18) 100%);
}
.btn:hover {
text-decoration: none;
color: #fff;
background-color: #252e37;
}
.btn.large {
font-size: 17px;
background-clip: padding-box;
padding: 20px 30px;
border: 1px solid #52a54b;
background-color: #77cb70;
box-shadow: 0 1px 5px rgba(0,0,0,.32), inset 0 1px 2px rgba(255,255,255,.69);
background-image: linear-gradient(to top, rgba(0,0,0,.18) 0%, rgba(255,255,255,.18) 100%);
}
.btn.green {
background-color: #77cb70;
border: 1px solid #52a54b;
}
.btn.green:hover, .btn.large:hover {
background-color: #58c74f;
}
input[type=text], input[type=email], input[type=url], input[type=tel], textarea {
border: 1px solid #d4d4d4;
background: #f9f9f9;
padding: 20px;
}
.wrapper {
float: left;
width: 91.666666666668%;
padding: 0 4.166666666666%;
}
section.main article {
float: left;
width: 100%;
}
header {
float: left;
width: 100%;
padding: 47px 0 27px 0;
background: #363f48;
}
header .logo {
float: left;
}
header nav {
float: right;
}
section {
float: left;
width: 100%;
}
section.hero .lead {
float: left;
width: 100%;
background: #363f48;
padding: 17px 0;
}
section.hero .lead.lead-sub {
padding-top: 30px;
padding-bottom: 50px;
background: #f6f7f7;
}
.ticks {
padding: 0;
margin: 1.5em 0 1.5em 0.25em;
list-style-type: none;
}
.ticks li {
padding: 0.25em 0 0.25em 1.75em;
margin: 0;
background: url('/images/tick.png') 0 0.5em no-repeat;
}
.lead aside.right {
text-align: center;
}
.lead aside.right a.btn {
margin-top: 1.5em;
}
p.demo {
margin: 1em 0 3em 0;
}
section.main article {
padding-top: 40px;
padding-bottom: 40px;
}
.newsletter input {
width: 100%;
margin-bottom: 1em;
}
.testimonial {
padding: 70px 0 0 0;
background: url('/images/quotemark.png') 50% 30px no-repeat;
}
.testimonial blockquote {
margin: 0 auto;
width: 70%;
}
.newsletter .testimonial,
.case-study .testimonial,
.blog .testimonial {
margin-top: 2em;
background-color: #f9f9f9;
border-top: 1px solid #f0f0f0;
border-bottom: 1px solid #f0f0f0;
width: 108.333333333332%;
margin-left: -4.166666666666%;
padding: 70px 30px 30px 30px;
}
.newsletter .testimonial blockquote,
.case-study .testimonial blockquote,
.blog .testimonial blockquote {
width: 100%;
}
.hyphen {
opacity: 0.3; 
filter: alpha(opacity=30);
}
article.alternate {
background: #f1f4f7;
margin-top: -40px;
}
footer .column {
float: left;
width: 50%;
min-height: 120px;
margin-top: 50px;
}
footer .column ul {
padding: 0;
margin: 1.5em 0 0 0;
list-style-type: none;
}
footer .column ul li {
margin-top: 0.75em;
}
footer .credits {
float: left;
width: 100%;
padding: 18px 0;
margin-top: 50px;
background: #202327;
}
.testimonial.wide {
float: left;
width: 100%;
padding: 100px 0 60px 0;
background-position: 50% 60px;
background-color: #f6f7f7;
}
.testimonial.wide blockquote, .testimonial.wide p.source {
margin: 0 auto;
width: 60%;
}
.contact-left, .contact-left p {
float: left;
width: 100%;
}
.contact-left input, .contact-left textarea {
float: left;
width: 94%;
}
.required {
display: inline-block;
float: left;
margin-left: 10px;
}
.contact-right {
float: left;
width: 100%;
margin-top: 2em;
}
.person {
float: left;
width: 100%;
padding: 1em 0;
text-align: center;
}
.person:first-of-type {
border-bottom: 1px solid #e8e8e8;
}
.case-study {
text-align: center;
}
.case-study img, .case-study h3 {
margin-bottom: 30px;
}
.case-study .btn {
margin-top: 30px;
}
.blog img, .blog h3 {
margin-bottom: 30px;
}
.blog .btn {
margin-top: 30px;
}
.image-left, .image-right {
width: 50%;
}
.image-left {
float: left;
margin-right: 1em;
}
.image-right {
float: right;
margin-left: 1em;
}
nav.article-nav {
float: left;
width: 100%;
background: #f7f7f7;
border-top: 1px solid #e1e2e4;
text-align: center;
padding-top: 25px;
}
nav.article-nav a {
margin-bottom: 25px;
}
nav.article-nav .btn {
padding-left: 0;
padding-right: 0;
width: 190px;
text-align: center;
}
.lead.pricing {
height: 370px;
border-bottom: 1px solid #e1e2e4;
text-align: center;
}
.pricing-tables {
float: left;
width: 100%;
margin-top: -100px;
padding-bottom: 40px;
border-bottom: 1px solid #e1e2e4;
text-align: center;
}
.pricing-table {
display: inline-block;
width: 220px;
background: #fff;
border: 1px solid #dbdcde;
margin-bottom: 30px;
}
.pricing-head {
line-height: 52px;
background: #f5f5f6;
border-bottom: 1px solid #e2e2e4;
}
.pricing-price span {
display: block;
}
.pricing-table ul.ticks {
width: 160px;
margin: 0 auto;
text-align: left;
}
.pricing-table .btn {
margin: 1.5em 0;
}
.pricing-ribbon {
background: #78cb72;
line-height: 33px;
min-height: 33px;
margin-bottom: 20px;
}
.clearboth {
clear: both;
}
.questions {
margin-top: 2em;
}
section.hero.pnf .lead {
padding: 30px 0;
text-align: center;
border-bottom: 1px solid #5E656D;
}
table {
max-width: 100%;
}
table, table td, table th {
border: 1px solid #ccc;
border-collapse: collapse;
}
table td, table th {
padding: 10px;
}
table th {
background: #f3f3f3;
font-weight: 700;
}
table tr:nth-child(odd) td {
background: #f9f9f9;
}

/* #######################################################################

	4. Pricing Table breakpoints

####################################################################### */

@media screen and (min-width: 25em) { /* 400px */
.lead.pricing {
height: 300px;
}
}
@media screen and (min-width: 28.75em) { /* 460px */
.pricing-table {
margin-left: 1.9%;
}
.pricing-table.pricing-1, .pricing-table.pricing-3 {
margin-left: 0;
}
}
@media screen and (min-width: 44em) { /* 704px */
.pricing-table.pricing-3 {
margin-left: 2.083333333333%;
}
}

/* #######################################################################

	5. Tablet Layout

####################################################################### */

@media screen and (min-width: 48em) { /* 768px */
.full {
background: #363f48;
}
section.hero .lead.lead-contact h1, section.hero .lead.lead-contact p {
width: 70%;
}
section.hero .lead.lead-contact {
background-image: '/images/envelope.png';
background-position: 90% 50%;
background-repeat: no-repeat;
}
header {
padding-top: 37px;
}
.mean-container .mean-bar { 
top: 34px;
}
.mean-container .mean-nav {
width: 35%;
float: right;
margin-right: 3%;
}
section.hero .lead {
padding-bottom: 50px;
}
.priority-nav {
top: 26px;
right: 130px;
}
.left {
float: left;
width: 48%;
}
.right, .right.testimonial {
float: right;
width: 48%;
}
.lead img {
box-shadow: -9px 9px 0 rgba(0,0,0,.2);
}
.lead.no-border img {
box-shadow: none;
}
.newsletter .testimonial {
margin-top: 0;
border: 1px solid #f0f0f0;
}
section.main article {
padding-top: 60px;
padding-bottom: 60px;
}
article.alternate {
margin-top: 0;
}
article.img-left, article.img-right {
text-align: left;
}
article.img-left img, article.img-right img {
margin-top: 30px;
max-width: 170px;
}
article.img-left.wide img, article.img-right.wide img {
max-width: 240px;
border: 1px solid #e5e5e5;
}
article.img-left img {
float: left;
}
article.img-right img {
float: right;
}
article.img-left p, article.img-left h3, article.img-right p, article.img-right h3 {
width: 70%;
}
article.img-left.wide p, article.img-left.wide h3, article.img-right.wide p, article.img-right.wide h3 {
width: 60%;
}
article.img-left p, article.img-left h3 {
float: right;
}
article.img-right p, article.img-right h3 {
float: left;
}
footer .column {
width: 25%;
min-height: auto;
}
header nav {
display: inline-block;
}
header nav ul li {
display: inline;
}
footer .credits {
padding-top: 38px;
padding-bottom: 38px;
}
section.hero .lead.lead-sub {
padding-top: 60px;
}
.btn {
font-size: 17px;
}
.btn.large {
font-size: 19px;
}
.image-left, .image-right {
width: auto;
}
nav.article-nav .left, nav.article-nav .right {
float: left;
width: 50%;
text-align: left;
}
nav.article-nav .right {
float: right;
text-align: right;
}
section.hero.pnf .lead {
padding: 70px 0;
}
.pricing-table.pricing-4 {
margin-left: 0;
}
}

/* #######################################################################

	6. Large Tablet/Tiny Desktop

####################################################################### */

@media screen and (min-width: 53.75em) { /* 860px */
.contact-left {
width: 50%;
}
.contact-right {
margin-top: 0;
float: right;
width: 42.708333333333%;
}
.person {
text-align: left;
}
.person img {
float: left;
}
.person h3, .person p {
float: right;
width: 76%;
}
.person h3 {
margin-top: 1.25em;
}
.person {
padding: 2em 0;
}
.person:last-of-type {
margin-bottom: -2em;
}
.pricing-table.pricing-4 {
margin-left: 2.083333333333%;
}
}

/* #######################################################################

	7. Small Desktop Layout

####################################################################### */

@media screen and (min-width: 60em) { /* 960px */
.person h3, .person p {
float: right;
width: 81%;
}
.priority-nav {
position: relative;
float: right;
top: auto;
right: auto;
margin: 0;
}
.wrapper {
float: none;
margin: 0 auto;
width: 960px;
padding: 0;
}
article.img-left h3, article.img-right h3 {
margin-top: 0;
}
article.img-left img, article.img-right img, article.img-left.wide img, article.img-right.wide img {
margin-top: 0;
max-width: 100%;
}
article.img-left h3, article.img-right h3, article.img-left p, article.img-right p {
width: 68%;
}
article.img-left.wide h3, article.img-right.wide h3, article.img-left.wide p, article.img-right.wide p {
width: 55%;
}
article.img-left.wide h3, article.img-right.wide h3 {
margin-top: 0.5em;
}
.lead.pricing {
height: 250px;
}
}

/* #######################################################################

	8. Enhanced Desktop Layout

####################################################################### */

@media screen and (min-width: 61.25em) { /* 980px */
.pricing-table {
float: left;
}
.pricing-2 {
margin-top: -30px;
}
}


/* #######################################################################

	9.  Retina / Hi DPI Graphics
	
####################################################################### */

@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 1.5/1),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
.ticks li {
background-image: '/images/tick@2x.png';
background-size: 17px 14px;
}
.testimonial {
background-image: '/images/quotemark@2x.png';
background-size: 28px 19px;
}
section.hero .lead.lead-contact {
background-image: '/images/envelope@2x.png';
background-size: 151px 149px;
}
}

@media screen and (max-width: 20em) and (-webkit-min-device-pixel-ratio: 1.5) {
section.hero .lead.lead-contact {
background-image: none;
background-size: 151px 149px;
}
}

/* #######################################################################

  10. Customisation

####################################################################### */

article.terms ol,
article.privacy ul {
  margin-bottom: 0.5em;
}

body.home.index header li#home a,
body.tour header li#tour a,
body.case-studies header li#case-studies a,
body.spectech-case-study header li#case-studies a,
body.pricing header li#pricing a,
body.about header li#about a,
body.contact header li#contact a {
  color: #fff;
  text-decoration: none;
}

.hero h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.hero h2 {
  color: white;
  margin-top: 1em;
}

.header-cta {
  padding-top: 2em;
  text-align: center !important;
}

blockquote ul {
  margin-top: 1em
}

blockquote ul li {
  text-align: left
}

img.spectech-case-study {
  box-shadow: none;
}

.case-study-link {
  margin: 1em 0 0 0;
  text-align: center;
}

.case-study-testimonials .testimonial {
  margin-bottom: 30px;
  margin-top: 30px;
}

.case-study-testimonials blockquote {
  color: rgb(82, 89, 97);
  font-size: 19px;
  font-weight: normal;
}

.blog-link {
  margin: 1em 0 0 0;
}

.blog-testimonials .testimonial {
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-testimonials blockquote {
  color: rgb(82, 89, 97);
  font-size: 19px;
  font-weight: normal;
}
.pager a.next {
  float: right;
}
