---
title: Blog
permalink: "/blog"
layout: default
body-class: blog
pagination: 
  enabled: true
---

<section class="hero">
    <div class="lead lead-sub">
        <div class="wrapper">
            <article>
                <h1>Blog</h1>
            </article>
        </div>
    </div>
</section>
<section class="main">
  {% for post in paginator.posts %}
    <article class="underline blog">
      <div class="wrapper">
        <h2>{{ post.title }}</h2>
        <p>{{ post.date | date: "%B %-d, %Y" }}</p>
        {{ post.excerpt }}
        <a href="{{ post.url }}">Read more</a>
      </div>
    </article>
  {% endfor %}
    <article class="blog">
      <div class="wrapper">
        {% if paginator.total_pages > 1 %}
        <div class="pager">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">&larr; Newer Posts</a>
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Older Posts &rarr;</a>
            {% endif %}
        </div>
        {% endif %}
      </div>
    </article>
</section>
