<footer>
    <div class="wrapper">
        <div class="column">
            <h6>Navigation</h6>
            <ul>
                <li>
                    <a title="Home" href="/">Home</a>
                </li>
                <li>
                    <a title="Tour" href="/tour">Tour</a>
                </li>
                <li>
                    <a title="Case Studies" href="/case-studies">Case Studies</a>
                </li>
                <li>
                    <a title="Pricing" href="/pricing">Pricing</a>
                </li>
            </ul>
        </div>
        <div class="column">
            <h6>More</h6>
            <ul>
                <li>
                    <a title="Status" href="http://status.kanbanlive.com">Status</a>
                </li>
                <li>
                    <a title="Help" href="http://help.kanbanlive.com">Help</a>
                </li>
            </ul>
        </div>
        <div class="column">
            <h6>Company</h6>
            <ul>
                <li>
                    <a title="Blog" href="/blog">Blog</a>
                </li>
                <li>
                    <a title="About" href="/about">About</a>
                </li>
                <li>
                    <a title="Contact" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="column">
            <h6>Get in touch</h6>
            <ul>
                <li>
                    <a title="Email" href="mailto:hello@kanbanlive.com">hello@kanbanlive.com</a>
                </li>
                <li>+44 (0)1962 853322</li>
            </ul>
        </div>
    </div>
    <div class="credits">
        <div class="wrapper">
            ©
            <a title="Kanban Live Ltd" href="/">Kanban Live Ltd</a>. All rights reserved.
            <a title="Terms" href="/terms">Terms</a> and
            <a href="/privacy">Privacy policy</a>.
        </div>
    </div>
</footer>
