<header>
    <div class="wrapper">
        <a href="/" title="Home"><img class="logo" src="/assets/img/logo.png" data-fullsrc="/assets/img/logo@2x.png" width="169" height="34" alt="Kanban Live" /></a>
        <ul class="priority-nav">
            <li><a href="/pricing" title="Sign up">Sign up</a></li>
            <li><a href="https://account.kanbanlive.com/users/sign_in" title="Login">Login</a></li>
        </ul>
        <nav>
            <ul>
                <li id="home">
                    <a title="Home" href="/">Home</a>
                </li>
                <li id="tour">
                    <a title="Tour" href="/tour">Tour</a>
                </li>
                <li id="case-studies">
                    <a title="Case Studies" href="/case-studies">Case Studies</a>
                </li>
                <li id="pricing">
                    <a title="Pricing" href="/pricing">Pricing</a>
                </li>
                <li id="about">
                    <a title="About" href="/about">About</a>
                </li>
                <li id="contact">
                    <a title="Contact" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
