<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]> ><! <![endif]-->
<html class='no-js' lang='en'>
<!-- <![endif] -->
<head>
    <meta charset='utf-8'>
    <!--[if lt IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    {% feed_meta %}
    <meta content='' name='description'>
    <meta content='' name='author'>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="{{ " /assets/css/core.css " | prepend: site.baseurl }}" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="assets/css/lt-ie9.min.css">
    <![endif]-->
    <meta content='width=device-width, initial-scale=1, minimum-scale=1' name='viewport'>
</head>

<body class="{{ page.body-class }}">
    {% include layout/header.html %} {{ content }} {% include layout/footer.html %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% include google_analytics.html %}
    <script src="/assets/js/general.min.js"></script>
    <script src="/assets/js/plugins/jquery.meanmenu.2.0.min.js"></script>
</body>
</html>
