---
layout: default
---

<section class="hero">
  <div class="lead lead-sub">
      <div class="wrapper">
          <article>
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%B %-d, %Y" }}</p>
          </article>
      </div>
  </div>
</section>
<section class="main">
  <article class="underline blog">
    <div class="wrapper">
      {% if page.image %}
      <span class="image fit">
          <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
      </span>
      {% endif %}
      {{ content }}
      {% include disqus.html %}
    </div>
  </article>
</section>
